<!DOCTYPE html>
   <head>
      <title>Hello</title>
   </head>

   <body>
<p>
<ul>
<li><a href="vpn-random-profiles">Perfiles activos de VPN</a></li>
<li><a href="vpn-credenciales">Credenciales VPN</a></li>
<li><a href="conf-dnsmasq">Configuración DNSmasq</a></li>
<li><a href="conf-hostapd">Configuración HostAPd</a></li>
<li><a href="conf-dhcpcd">Configuración DHCPcd</a></li>
<li><a href="reboot-device">Reiniciar dispositivo</a></li>
</ul>
</p>

      <form action="" method="POST">
        <textarea name="text_box" rows="40" cols="120">{{ config_file }}</textarea>
	<br/>
        <input type="submit">
      </form>
   </body>
</html>
